@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - aBlog</title>
    @Styles.Render("~/Styles")
</head>
<body>
    <div> 
        <h1>
            <a href="@Url.RouteUrl("Home")">aBLOG</a>
            <i class="glyphicon glyphicon-book"></i>
        </h1>
        <br />
        @if (User.Identity.IsAuthenticated)
        {
            <p>welcome back , @User.Identity.Name</p>
            <a href="@Url.RouteUrl("Logout")">Logout</a>
            <br />
            if(User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index","Posts", new { area="admin"})">View Posts as admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("Login")">Login</a>
        }
        
    </div>
    <br />
    <br />
    <br />
    @RenderBody()

    @Scripts.Render("~/Scripts")
    @RenderSection("Scripts", false)
</body>
</html>
