

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - aBlog</title>
</head>
<body>
    <div> 
        <h1>THis IS LAYOUT .... </h1>
        <h1>
            <a href="@Url.RouteUrl("Home")">aBLOG</a>
        </h1>
        @if (User.Identity.IsAuthenticated)
        {
            <p>welcome back , @User.Identity.Name</p>
            <a href="@Url.RouteUrl("Logout")">Logout</a>
            if(User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index","Posts", new { area="admin"})">View Posts as admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("Login")">Login</a>
        }
        
    </div>
    @RenderBody()
</body>
</html>
